In [12]:
import pandas as pd
import numpy as np
import re
import datetime

In [49]:
ttl = pd.read_csv('/Users/APinkerton/NYC_DS_A/projects/proj_1/aggreg_coins.csv')
ttl.columns
ttl.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [50]:
ttl.drop('SNo',axis=1)
ttl['Date'] = pd.to_datetime(ttl['Date'])
ttl['mo']=ttl['Date'].dt.month
ttl['day']=ttl['Date'].dt.day
ttl['year']=ttl['Date'].dt.year
ttl['weekday']=ttl['Date'].dt.weekday
ttl.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,mo,day,year,weekday
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09,4,29,2013,0
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09,4,30,2013,1
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09,5,1,2013,2
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09,5,2,2013,3
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09,5,3,2013,4

In [52]:
ttl.head()
import calendar
calendar?

In [97]:
u = ttl['Date'].max()
x = np.array(pd.DatetimeIndex(ttl['Date']).date)
x

array([datetime.date(2013, 4, 29), datetime.date(2013, 4, 30),
       datetime.date(2013, 5, 1), ..., datetime.date(2021, 2, 25),
       datetime.date(2021, 2, 26), datetime.date(2021, 2, 27)],
      dtype=object)

In [44]:
monthrange()

TypeError: monthrange() missing 1 required positional argument: 'month'